{%extends 'base.html'%}
{%block content%}
{%for i, cla in enumerate(data['classes'])%}
<style>
    .input-group {
        margin-top: -18px;
    }

    .input-group .form-control {
        height: 10px;
        padding: 6px 0;
    }

    .input-group-btn > .btn {
        height: 10px;
        line-height: 10px;

    }

</style>
<div class="home-mid">
    <div class="h-mid-top h-mid-topBg{{i}}">
        <a href="/intoClass{{i}}-0">
            <div class="tit">
                <h2>{{cla[0]}}</h2>
                <img src="img/home-tit-{{i}}.png"/>
            </div>
        </a>
        <div class="channel">
            <a href="/intoClass{{i}}-0">进入频道</a>
        </div>
        <div class="hot">
            <span>热门：</span>
            {%if i==0%}
            {%for n_h in nav_hots%}
            <span class="hot-slide">
                            {%for h_d in n_h%}
                            <a href="{{h_d['d_url']}}"
                               target="_blank">{{h_d['d_desc']}}</a>
                            {%end%}
                        </span>
            {%end%}
            {%elif i==1%}
            <span class="hot-slide">
                            {%for shq_h in shq_hots%}
                            <a href="/intoClass{{i}}-0?city={{shq_h['hc_num']}}">
                                {{shq_h['hc_name']}}</a>
                            {%end%}
                        </span>
            {%elif i==2%}
            <span class="hot-slide">
                            {%for qy_h in qy_hots%}
                            <a href="{{qy_h['h_url']}}" target="_blank">
                                {{qy_h['h_desc']}}</a>
                            {%end%}
                        </span>
            {%elif i==3%}
            <span class="hot-slide">
                            {%for dx_h in dx_hots%}
                            <a href="{{dx_h['h_url']}}" target="_blank">
                                {{dx_h['h_desc']}}</a>
                            {%end%}
                        </span>
            {%else%}
            <span class="hot-slide">
                {%for e_h in e_hots%}
                <a href="{{e_h['h_url']}}" target="_blank">{{e_h['h_desc']}}</a>
                {%end%}
            </span>
            {%end%}
        </div>
    </div>
    <div class="h-mid-block">
        <div class="left">
            {%if i==0%}
            <ul class="h-mid-menuTwo">
                {%for s_ind, s_cla in enumerate(cla[1])%}
                <li>
                    <a>{{s_cla['c_name']}}</a>
                </li>
                {%end%}
                {%else%}
                <ul class="h-mid-menuThree">
                    {%for s_ind, s_cla in enumerate(cla[1])%}
                    <li>
                        <a href="/intoClass{{i}}-{{s_ind}}">{{s_cla['c_name']}}</a>
                    </li>
                    {%end%}
                    {%end%}

                </ul>
        </div>
        {%if i==0%}
        <div class="middle" id="brand-roll">
            <div class="brand-roll">
                {%for ind, sli in enumerate(slides)%}
                <ul class="brand-roll-lst">
                    {%for item in sli%}
                    <li>
                        <a href="{{item['d_url']}}" target="_Blank">
                            <img src="{{item['d_img']}}"/>
                            {%if ind==1%}
                            <div class="input-group" style="display: none;">
                                <input type="text" class="form-control"
                                       placeholder="">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <span class="glyphicon glyphicon-search"
                                          aria-hidden="true"></span>
                                </button>
                                </span>
                            </div>
                            {%end%}
                        </a>

                    </li>

                    {%end%}
                </ul>
                {%end%}

            </div>
            <a href="javascript:;" class="prev"></a>
            <a href="javascript:;" class="next"></a>
        </div>
        <div class="right">
            <div class="search-box">
                <form action="">
                    <div class="sh-classify">
                        <a href="" class="active">网页</a>
                        <a href="">图片</a>
                        <a href="">地图</a>
                    </div>
                    <div class="sh-text">
                        <input type="text"/>
                    </div>
                    <div class="sh-type">
                        <label for="du"><input type="radio" id="du"
                                               name="sh-type"
                                               checked="checked"/>百度</label>
                        <label for="gs"><input type="radio" id="gs"
                                               name="sh-type"/>国搜</label>
                        <label for="yd"><input type="radio" id="yd"
                                               name="sh-type"/>搜狗</label>
                        <label for="hs"><input type="radio" id="hs"
                                               name="sh-type"/>好搜</label>
                        <label for="gd"><input type="radio" id="gd"
                                               name="sh-type"/>高德</label>
                    </div>
                    <div class="sh-btn">
                        <input type="submit" name="" id="" value="搜索"/>
                    </div>
                </form>
                <!--<div class="sh-mail">-->
                <!--<a href="http://www.hao123.com/mail" target="_blank">-->
                <!--邮箱登录-->
                <!--</a>-->
                <!--</div>-->

                <!-- Single button -->
                <div class="btn-group dropup sh-mail">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        邮箱登录 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">@163.com</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">@126.com</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">@129.com</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">@qq.com</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">@sohu.com</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">@189.cn</a></li>

                    </ul>
                </div>


            </div>
        </div>
        {%else%}
        <div class="middle" id="banner">
            <div class="banner">
                <ul>
                    {%for m_s in mid_sli[i-1]%}
                    <li>
                        <a href="{{m_s['is_url']}}" target="_blank">
                            <img src="{{m_s['is_img']}}"/>
                        </a>
                    </li>
                    {%end%}
                </ul>
                <ol class="banner-focus">
                    <li></li>
                    <li></li>
                    <li></li>
                </ol>
            </div>
        </div>
        <div class="right">
            <ul class="brand">
                {%for r_s in right_sli[i-1]%}
                <li>
                    <a href="{{r_s['is_url']}}" target="_blank">
                        <img src="{{r_s['is_img']}}"/>
                    </a>
                </li>
                {%end%}
            </ul>
        </div>
        {%end%}

    </div>
</div>
{%end%}

{%block script%}
<script>
    $(".home-mid").slide({
        targetCell: '.hot-slide',
        titCell: ".h-mid-menuTwo li",
        trigger: "click",
        delayTime: '100'
    });

    $(".banner").slide({
        mainCell: "ul",
        titCell: "ol",
        autoPage: true,
        effect: "fold",
        autoPlay: true
    });

    $(".h-mid-block").slide({
        mainCell: ".brand-roll",
        titCell: ".h-mid-menuTwo li",
        effect: "left",
        trigger: "click"
    });


    $(function () {
        $('.brand-roll .brand-roll-lst li:even').css('float', 'right');
        $("label[for='gd']").hide();
        $("label[for='hs']").hide();
        $('.sh-classify a').click(function () {
            event.preventDefault();
            $(this).addClass('active').siblings().removeClass('active');
            search_1 = $('.sh-classify a').index($(this));
            if (search_1 == 0) {
                $("label[for='yd']").show();
                $("label[for='gs']").show();
                $("label[for='hs']").hide();
                $("label[for='gd']").hide();
                $("label[for='du'] input").prop('checked', 'true').siblings().removeAttr('checked');
            }
            if (search_1 == 1) {
                $("label[for='yd']").hide();
                $("label[for='gs']").hide();
                $("label[for='hs']").show();
                $("label[for='gd']").hide();
                $("label[for='du'] input").prop('checked', 'checked').siblings().removeAttr('checked');
            }

            if (search_1 == 2) {
                $("label[for='yd']").hide();
                $("label[for='gs']").hide();
                $("label[for='hs']").hide();
                $("label[for='gd']").show();
                $("label[for='du'] input").prop('checked', 'checked').siblings().removeAttr('checked');
            }

        });
        $('.sh-btn input').click(function () {
            event.preventDefault();
            search_1 = $('.sh-classify a').index($('.sh-classify .active'));
//            search_2 =
//                $('.sh-type input').index($('.sh-type input[checked="checked"]'));
            search_2 = $('.sh-type input:checked').parent().index();
            key_word = $('.sh-text input').val();
            if (search_1 == 0) {
                if (search_2 == 0) {
                    window.open('http://www.baidu.com/s?wd=' + key_word);
                }
                if (search_2 == 1) {
                    window.open('http://www.chinaso.com/search/pagesearch.htm?q=' + key_word);

                }
                else {
                    window.open('https://www.sogou.com/web?query=' + key_word);

                }
            }
            if (search_1 == 1) {
                if (search_2 == 0) {
                    window.open('http://image.baidu.com/search/index?tn=baiduimage&ps=1&ct=201326592&lm=-1&cl=2&nc=1&ie=utf-8&word=' + key_word);
                }
                else {
                    window.open('http://image.so.com/i?q=' + key_word);
                }
            }
            if (search_1 == 2) {
                if (search_2 == 0) {
                    window.open('http://map.baidu.com/?newmap=1&ie=utf-8&s=s%26wd%3D' + key_word);
                }
                else {
                    window.open('http://ditu.amap.com/search?query=' + key_word);
                }
            }
        });
        $('.input-group input, .input-group-btn').click(function (e) {
            return false;
        });
        $('.brand-roll-lst a').hover(function () {
            $(this).children().eq(1).show();
        }, function () {
            $(this).children().eq(1).hide();
        });
        $('.input-group-btn button').click(function () {
            h = $(this).parent().parent().parent().attr('href');
            query = $(this).parent().prev().val();
            h_query = 'https://s.taobao.com/search?q=' + query;
            window.open(h_query);

        });
        $('.form-control').keyup(function (e) {
            if (e.keyCode == 13) {
                console.log('il')
                query = $(this).val();
                h_query = 'https://s.taobao.com/search?q=' + query;
                window.open(h_query);

            }
        })
    })

</script>
{%end%}

{%end%}
