{%extends 'base.html'%}
{%block content%}
<style>
    #paginator a {
        cursor: pointer;
    }

    #paginator-mc a {
        cursor: pointer;
    }
</style>
<div class="main">
    <div class="m-top h-mid-topBg{{cid}}">
        {% module SubCla(cla_name) %}
        <div class="m-menu">
            <ul class="m-city">
                <li class="m-cityOne">
                    <a href="">浙</a>
                    <a href="">沪</a>
                    <a href="">皖</a>
                    <a href="">鲁</a>
                    <a href="">苏</a>
                </li>
                <li class="m-cityTwo">
                    <a href="">滇</a>
                    <a href="">桂</a>
                    <a href="">渝</a>
                    <a href="">黔</a>
                    <a href="">蜀</a>
                </li>
                <li class="m-cityThree">
                    <a href="">新</a>
                    <a href="">宁</a>
                    <a href="">青</a>
                    <a href="">陇</a>
                    <a href="">秦</a>
                    <a href="">藏</a>
                </li>
                <li class="m-cityFour">
                    <a href="">赣</a>
                    <a href="">湘</a>
                    <a href="">鄂</a>
                    <a href="">豫</a>
                </li>
                <li class="m-cityFive">
                    <a href="">冀</a>
                    <a href="">津</a>
                    <a href="">晋</a>
                    <a href="">京</a>
                </li>
                <li class="m-citySix">
                    <a href="">辽</a>
                    <a href="">吉</a>
                    <a href="">蒙</a>
                    <a href="">黑</a>
                </li>
                <li class="m-citySeven">
                    <a href="">琼</a>
                    <a href="">台</a>
                    <a href="">港</a>
                    <a href="">澳</a>
                    <a href="">闽</a>
                    <a href="">粤</a>
                </li>
            </ul>
        </div>
        <div id='sh-citys' class="clearfix m-select">
            <div class="m-select-city">
                <select name="province" style="display: none;"></select>
                <select name="city"></select>
                <select name="area"></select>
            </div>
        </div>
    </div>
    <div class="m-block">
        <div class="m-left">
            <ul class="m-left-menuOne">
                <li>
                    <a href="nav_index1_list.html">客店</a>
                </li>
                <li>
                    <a href="nav_index1_list.html">食界</a>
                </li>
                <li>
                    <a href="nav_index1_list.html">休闲娱乐</a>
                </li>
                <li>
                    <a href="nav_index1_list.html">兴趣活动</a>
                </li>
                <li>
                    <a href="nav_index1_list.html">生活便民</a>
                </li>
                <li>
                    <a href="nav_index1_list.html">房产相关</a>
                </li>
                <li>
                    <a href="nav_index1_list.html">国内游</a>
                </li>
                <li>
                    <a href="nav_index1_list.html">出境游</a>
                </li>
                <li>
                    <a href="nav_index1_list.html">就近工作</a>
                </li>
                <li>
                    <a href="nav_index1_list.html">自修·公益</a>
                </li>
            </ul>
        </div>
        <div class="m-mid">
            <div class="banner">
                <ul>
                    <li>
                        <a href="" target='_blank'>
                            <img src="img/home-b1.jpg"/>
                        </a>
                    </li>
                    <li>
                        <a href="" target='_blank'>
                            <img src="img/home-b2.jpg"/>
                        </a>
                    </li>
                    <li>
                        <a href="" target='_blank'>
                            <img src="img/home-b1.jpg"/>
                        </a>
                    </li>
                </ul>
                <ol class="banner-focus">
                    <li></li>
                    <li></li>
                    <li></li>
                </ol>
            </div>
            <div class="m-inform">
                <ul class="lst">
                    <li>
                        <a href="" target='_blank'>简写属性把下边框的所有属性</a>
                    </li>
                    <li>
                        <a href=""
                           target='_blank'>写属性把下边框的所有属性设置到一个声明中置到一个声明</a>
                    </li>
                    <li>
                        <a href="" target='_blank'>属性把下边框的所有声明中</a>
                    </li>
                    <li>
                        <a href="" target='_blank'>x边框的所有属性设置到一个声明中</a>
                    </li>
                    <li>
                        <a href="" target='_blank'>把下边框的简写属性所有属性个声明中</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="m-right">
            <div class="m-tab">
                <span>小强说事</span>
                <ul>
                    <li class="active">股票基金</li>
                    <li>期货</li>
            </div>
            <div class="m-tab-items">
                <div class="item" style="display: block;">
                    <ul>
                        <li>
                            <a href="" target='_blank'>交易提示 </a>
                        </li>
                        <li>
                            <a href="" target='_blank'>操盘必读 </a>
                        </li>
                        <li>
                            <a href="" target='_blank'>最新公告</a>
                        </li>
                        <li>
                            <a href="" target='_blank'>数据中心</a>
                        </li>
                        <li>
                            <a href="" target='_blank'>条件选股</a>
                        </li>
                        <li>
                            <a href="" target='_blank'>券商评级</a>
                        </li>
                        <li>
                            <a href="" target='_blank'>股价预测</a>
                        </li>
                        <li>
                            <a href="" target='_blank'>板块行情</a>
                        </li>
                        <li>
                            <a href="" target='_blank'>ETF期权</a>
                        </li>
                        <li>
                            <a href="" target='_blank'>类余额宝</a>
                        </li>
                        <li>
                            <a href="" target='_blank'>基金净值</a>
                        </li>
                        <li>
                            <a href="" target='_blank'>基金对比</a>
                        </li>
                        <li>
                            <a href="" target='_blank'>数据中心</a>
                        </li>
                        <li>
                            <a href="" target='_blank'>条件选股</a>
                        </li>
                        <li>
                            <a href="" target='_blank'>券商评级</a>
                        </li>
                        <li>
                            <a href="" target='_blank'>股价预测</a>
                        </li>
                        <li>
                            <a href="" target='_blank'>板块行情</a>
                        </li>
                        <li>
                            <a href="" target='_blank'>ETF期权</a>
                        </li>
                    </ul>
                    <div class="m-tab-hot">
                        <a href="" target='_blank'>
                            <img src="img/brank/brank-big-9.jpg"/>
                            <p>ETF期权</p>
                        </a>
                        <a href="" target='_blank'>
                            <img src="img/brank/brank-big-9.jpg"/>
                            <p>ETF期权</p>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <ul>
                        <li>
                            <a href="" target='_blank'>交易提示1 </a>
                        </li>
                        <li>
                            <a href="" target='_blank'>操盘必读2 </a>
                        </li>
                        <li>
                            <a href="" target='_blank'>最新公告3</a>
                        </li>
                        <li>
                            <a href="" target='_blank'>数据中心4</a>
                        </li>
                        <li>
                            <a href="" target='_blank'>条件选股5</a>
                        </li>
                        <li>
                            <a href="" target='_blank'>券商评级6</a>
                        </li>
                        <li>
                            <a href="" target='_blank'>股价预测7</a>
                        </li>
                        <li>
                            <a href="" target='_blank'>板块行情8</a>
                        </li>
                        <li>
                            <a href="" target='_blank'>ETF期权</a>
                        </li>
                        <li>
                            <a href="" target='_blank'>类余额宝</a>
                        </li>
                        <li>
                            <a href="" target='_blank'>基金净值</a>
                        </li>
                        <li>
                            <a href="" target='_blank'>基金对比</a>
                        </li>
                        <li>
                            <a href="" target='_blank'>数据中心</a>
                        </li>
                        <li>
                            <a href="" target='_blank'>条件选股</a>
                        </li>
                        <li>
                            <a href="" target='_blank'>券商评级</a>
                        </li>
                        <li>
                            <a href="" target='_blank'>股价预测</a>
                        </li>
                        <li>
                            <a href="" target='_blank'>板块行情</a>
                        </li>
                        <li>
                            <a href="" target='_blank'>ETF期权</a>
                        </li>
                    </ul>
                    <div class="m-tab-hot">
                        <a href="" target='_blank'>
                            <img src="img/brank/brank-big-9.jpg"/>
                            <p>ETF期权</p>
                        </a>
                        <a href="" target='_blank'>
                            <img src="img/brank/brank-big-9.jpg"/>
                            <p>ETF期权</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-mc" style="display: none;">
            <div class="m-mc-type">
                <a href="" class="btn-return">返回</a>
                <span>客店</span>
                <ul>
                    <li>
                        <a href="" class="active"></a>
                    </li>
                    <li>
                        <a href=""></a>
                    </li>
                    <li>
                        <a href=""></a>
                    </li>
                    <li>
                        <a href=""></a>
                    </li>
                    <li>
                        <a href=""></a>
                    </li>
                </ul>
            </div>
            <div class="m-mc-lst">
                <ul class="m-list">
                    <li>
                        <a href="" target='_blank'>
										<span>
											<img src="img/pic/1.jpg"/>
										</span>
                            <p>粮油/干货/土特产/日杂</p>
                        </a>
                    </li>
                    <li>
                        <a href="" target='_blank'>
										<span>
											<img src="img/pic/2.jpg"/>
										</span>
                            <p>粮油/干货/土特产/日杂</p>
                        </a>
                    </li>
                    <li>
                        <a href="" target='_blank'>
										<span>
											<img src="img/pic/3.jpg"/>
										</span>
                            <p>粮油/干货/土特产/日杂</p>
                        </a>
                    </li>
                    <li>
                        <a href="" target='_blank'>
										<span>
											<img src="img/pic/1.jpg"/>
										</span>
                            <p>粮油/干货/土特产/日杂</p>
                        </a>
                    </li>
                    <li>
                        <a href="" target='_blank'>
										<span>
											<img src="img/pic/2.jpg"/>
										</span>
                            <p>粮油/干货/土特产/日杂</p>
                        </a>
                    </li>
                    <li>
                        <a href="" target='_blank'>
										<span>
											<img src="img/pic/3.jpg"/>
										</span>
                            <p>粮油/干货/土特产/日杂</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div style="text-align:center;">
                <ul id="paginator-mc"></ul>
            </div>
        </div>
    </div>
    <div class="m-block">
        <ul class="m-list">
            <li>
                <a href="" target='_blank'>
								<span>
									<img src="img/pic/1.jpg"/>
								</span>
                    <p>粮油/干货/土特产/日杂</p>
                </a>
            </li>
            <li>
                <a href="" target='_blank'>
								<span>
									<img src="img/pic/2.jpg"/>
								</span>
                    <p>粮油/干货/土特产/日杂</p>
                </a>
            </li>
            <li>
                <a href="" target='_blank'>
								<span>
									<img src="img/pic/3.jpg"/>
								</span>
                    <p>粮油/干货/土特产/日杂</p>
                </a>
            </li>
            <li>
                <a href="" target='_blank'>
								<span>
									<img src="img/pic/4.jpg"/>
								</span>
                    <p>粮油/干货/土特产/日杂</p>
                </a>
            </li>
            <li>
                <a href="" target='_blank'>
								<span>
									<img src="img/pic/3.jpg"/>
								</span>
                    <p>粮油/干货/土特产/日杂</p>
                </a>
            </li>
            <li>
                <a href="" target='_blank'>
								<span>
									<img src="img/pic/4.jpg"/>
								</span>
                    <p>粮油/干货/土特产/日杂</p>
                </a>
            </li>
            <li>
                <a href="" target='_blank'>
								<span>
									<img src="img/pic/1.jpg"/>
								</span>
                    <p>粮油/干货/土特产/日杂</p>
                </a>
            </li>
            <li>
                <a href="" target='_blank'>
								<span>
									<img src="img/pic/2.jpg"/>
								</span>
                    <p>粮油/干货/土特产/日杂</p>
                </a>
            </li>
        </ul>
    </div>
    <div style="text-align:center;">
        <ul id="paginator"></ul>
    </div>
    <div id='sh-citys-0' class="clearfix m-select" style="display: none;">
        <div class="m-select-city">
            <select name="province"></select>
            <select name="city"></select>
            <select name="area"></select>
        </div>
    </div>
</div>
{%end%}
{%block script%}
<script src="js/main/jquery.citys.js"></script>
<script src="http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js"></script>
<script src="js/common/bootstrap-paginator.min.js"></script>
<script>
    function getCookie(name) {
        var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
        return r ? r[1] : undefined;
    }

    function GetQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null)return unescape(r[2]);
        return null;
    }

    function createPage(obj, totle, flag) {
        obj.bootstrapPaginator({
            currentPage: 1,
            totalPages: totle,
            numberOfPages: 6,
            itemTexts: function (type, page) {
                switch (type) {
                    case "first":
                        return "首页";
                    case "prev":
                        return "上一页";
                    case "next":
                        return "下一页";
                    case "last":
                        return "末页";
                    case "page":
                        return page;
                }
            },
            tooltipTitles: function (type, page) {
                switch (type) {
                    case "first":
                        return "首页";
                    case "prev":
                        return "上一页";
                    case "next":
                        return "下一页";
                    case "last":
                        return "末页";
                    case "page":
                        return page;
                }
            },
            onPageClicked: function (event, originalEvent, type, page) {
                if (flag == 1) {
                    getCityInfo($('#sh-citys select[name="city"]').find('option:selected').text(), page)
                }
                else {
                    intoDetail(page)
                }
            }
        });
    }

    function getCityInfo(city, page) {
        $.ajax({
            url: '/api/shq/info',
            type: 'POST',
            data: JSON.stringify({'city': city, 'page': page || 0}),
            contentType: 'application/json',
            dataType: 'json',
            headers: {
                "X-XSRFTOKEN": getCookie("_xsrf")
            },
            success: function (data) {
                if (data.main_info.totle) {
                    console.log(data.main_info.mi_3);
                    $.each(data.main_info.mi_11, function (ind, val) {
                        $('.banner img:eq(' + String(ind) + ')').attr('src',
                            val.mi_img);
                        $('.banner a:eq(' + String(ind) + ')').attr('href',
                            val.mi_url);
                    });

                    $.each(data.main_info.mi_12, function (ind, val) {
                        $('.lst a:eq(' + String(ind) + ')').attr('href',
                            val.mi_url).text(val.mi_desc);
                    });

                    $.each(data.main_info.mi_211, function (ind, val) {
                        $('.item:first li a:eq(' + String(ind) + ')').attr('href',
                            val.mi_url).text(val.mi_desc);
                    });

                    $.each(data.main_info.mi_221, function (ind, val) {
                        $('.item:last li a:eq(' + String(ind) + ')').attr('href',
                            val.mi_url).text(val.mi_desc);
                    });

                    $.each(data.main_info.mi_212, function (ind, val) {
                        $('.item:first .m-tab-hot a:eq(' + String(ind) + ')').attr('href',
                            val.mi_url).children().eq(0).attr('src', val.mi_img).parent().children().eq(1).text(val.mi_desc);
                    });

                    $.each(data.main_info.mi_222, function (ind, val) {
                        $('.item:last .m-tab-hot a:eq(' + String(ind) + ')').attr('href',
                            val.mi_url).children().eq(0).attr('src', val.mi_img).parent().children().eq(1).text(val.mi_desc);
                    });
                    $.each(data.main_info.mi_3, function (ind, val) {
                        if (ind == 0) {
//                            console.log('into 0');
                            $('.m-block > .m-list a').each(function () {
                                $(this).removeAttr('href').children().eq(1).text('').parent().children().eq(0).children().attr('src', '')
                            });
                        }
                        $('.m-block > .m-list a:eq(' + String(ind) + ')').attr('href',
                            val.mi_url).children().eq(1).text(val.mi_desc).parent().children().eq(0).children().attr('src', val.mi_img);

                    });
                    createPage($('#paginator'), data.main_info.totle, 1);
                }
                else {
                    $.each(data.main_info.mi_3, function (ind, val) {
                        if (ind == 0) {
//                            console.log('into 0');
                            $('.m-block > .m-list a').each(function () {
                                $(this).removeAttr('href').children().eq(1).text('').parent().children().eq(0).children().attr('src', '')
                            });
                        }
                        $('.m-block > .m-list a:eq(' + String(ind) + ')').attr('href',
                            val.mi_url).children().eq(1).text(val.mi_desc).parent().children().eq(0).children().attr('src', val.mi_img);

                    });
                }


            }
        });
    }

    function intoDetail(page) {
        $sel = $('.m-left-menuOne li[class="active"]');
        if ($('.m-left-menuOne li[class="active"]').length === 0) {
            $sel = $('.m-left-menuOne li:first');
        }
        area_num = $('#sh-citys select[name="area"]').val() ||
            $('#sh-citys select[name="city"]').val();
        d_class_ind = $('.m-mc-type li a[class="active"]').parent().index();
        $('.m-mid').hide();
        $('.m-right').hide();
        $('.m-mc').show();
        $('.m-block > .m-list').hide();
        $sel.addClass('active').siblings().removeClass('active');
        $('.m-mc-type span').text($sel.text());
        $('#paginator').parent().hide();
        $.get('/api/shq/info', {
            sel: $sel.text(), area: area_num,
            dc_ind: d_class_ind, page: page || 0
        }, function
            (data) {
//            console.log(data.totle);
            if (data.totle) {
                $.each(data.d_names, function (ind, val) {
                    $('.m-mc-type ul a:eq(' + String(ind) + ')').text(val.dc_name);
                });
                $.each(data.d_info, function (ind, val) {
                    $('.m-mc-lst a:eq(' + String(ind) + ')').attr('href',
                        val.al_url).children('p').text(val.al_desc).siblings().children().attr('src', val.al_img);
                });
                createPage($('#paginator-mc'), data.totle, 2)
            }
            else {
                console.log(data.d_info);
                $.each(data.d_info, function (ind, val) {
                    if (ind == 0) {
                        $('.m-mc-lst > .m-list a').each(function () {
                            $(this).removeAttr('href').children().eq(1).text('').parent().children().eq(0).children().attr('src', '')
                        });
                    }
                    $('.m-mc-lst a:eq(' + String(ind) + ')').attr('href',
                        val.al_url).children('p').text(val.al_desc).siblings().children().attr('src', val.al_img);
                });
            }
        });
    }

    function outDetail() {
        $('.m-mid').show();
        $('.m-right').show();
        $('.m-mc').hide();
        $('.m-block > .m-list').show();
        $('#paginator').parent().show();
        $('.m-left-menuOne li').removeClass('active');
        $('.m-mc-type li:first').children().addClass('active').parent().siblings().children().removeClass('active');
    }

    $(".banner").slide({
        mainCell: "ul",
        titCell: "ol",
        autoPage: true,
        effect: "fold",
        autoPlay: true
    });
    $('.m-tab ul').tabBox({
        type: 'hover',
        tabBox: '.m-tab-items > .item'
    });
    pro_name_simple = {
        "浙": "浙江",
        "沪": "上海",
        "皖": "安徽",
        "鲁": "山东",
        "苏": "江苏",
        "滇": "云南",
        "桂": "广西壮族自治区",
        "渝": "重庆",
        "黔": "贵州",
        "蜀": "四川",
        "新": "新疆",
        "宁": "宁夏",
        "青": "青海",
        "陇": "甘肃",
        "秦": "陕西",
        "藏": "西藏",
        "赣": "江西",
        "湘": "湖南",
        "鄂": "湖北",
        "豫": "河南",
        "冀": "河北",
        "津": "天津",
        "晋": "山西",
        "京": "北京",
        "辽": "辽宁",
        "吉": "吉林",
        "蒙": "内蒙古自治区",
        "黑": "黑龙江",
        "琼": "海南",
        "台": "台湾",
        "港": "香港",
        "澳": "澳门",
        "闽": "福建",
        "粤": "广东"
    };
    pro_name = {
        "浙": "浙江省",
        "沪": "上海市",
        "皖": "安徽省",
        "鲁": "山东省",
        "苏": "江苏省",
        "滇": "云南省",
        "桂": "广西壮族自治区",
        "渝": "重庆市",
        "黔": "贵州省",
        "蜀": "四川省",
        "新": "新疆维吾尔自治区",
        "宁": "宁夏回族自治区",
        "青": "青海省",
        "陇": "甘肃省",
        "秦": "陕西省",
        "藏": "西藏自治区",
        "赣": "江西省",
        "湘": "湖南省",
        "鄂": "湖北省",
        "豫": "河南省",
        "冀": "河北省",
        "津": "天津市",
        "晋": "山西省",
        "京": "北京市",
        "辽": "辽宁省",
        "吉": "吉林省",
        "蒙": "内蒙古自治区",
        "黑": "黑龙江省",
        "琼": "海南省",
        "台": "台湾省",
        "港": "香港特别行政区",
        "澳": "澳门特别行政区",
        "闽": "福建省",
        "粤": "广东省"
    };


    if (GetQueryString('city')) {
        $('#sh-citys').citys({
            required: false,
            nodata: 'disabled',
            province: GetQueryString('city').substring(0, 2) + '0000',
            city: GetQueryString('city').substring(0, 4) + '00'
        }, function (api) {
            pro_name = {
                "浙": "浙江省",
                "沪": "上海市",
                "皖": "安徽省",
                "鲁": "山东省",
                "苏": "江苏省",
                "滇": "云南省",
                "桂": "广西壮族自治区",
                "渝": "重庆市",
                "黔": "贵州省",
                "蜀": "四川省",
                "新": "新疆维吾尔自治区",
                "宁": "宁夏回族自治区",
                "青": "青海省",
                "陇": "甘肃省",
                "秦": "陕西省",
                "藏": "西藏自治区",
                "赣": "江西省",
                "湘": "湖南省",
                "鄂": "湖北省",
                "豫": "河南省",
                "冀": "河北省",
                "津": "天津市",
                "晋": "山西省",
                "京": "北京市",
                "辽": "辽宁省",
                "吉": "吉林省",
                "蒙": "内蒙古自治区",
                "黑": "黑龙江省",
                "琼": "海南省",
                "台": "台湾省",
                "港": "香港特别行政区",
                "澳": "澳门特别行政区",
                "闽": "福建省",
                "粤": "广东省"
            }
            if ($('#sh-citys select[name="city"] option').length === 0) {
                getCityInfo($('#sh-citys select[name="province"]').find('option:selected').text());
            }
            getCityInfo($('#sh-citys select[name="city"]').find('option:selected').text());
            info = api.getInfo();
//            alert(info.province);
            $.each(pro_name, function (key, val) {
                if (val == info.province) {
                    $('.m-city a').each(function () {
                        if ($(this).text() == key) {
                            $(this).addClass('active');
                        }
                    });
                }
            });
        });
    }
    else {
        if (remote_ip_info) {
            $('#sh-citys').citys({
                required: false,
                nodata: 'disabled',
                province: remote_ip_info['province'],
                city: remote_ip_info['city']
            }, function () {
                getCityInfo($('#sh-citys select[name="city"]').find('option:selected').text());
                $.each(pro_name_simple, function (key, val) {
                    if (val == remote_ip_info['province']) {
                        $('.m-city a').each(function () {
                            if ($(this).text() == key) {
                                $(this).addClass('active');
                            }
                        });
                    }
                });
            });
        }
    }

    $(function () {

        $('.m-city a').click(function () {
            event.preventDefault();
            outDetail();
            $('.m-city a').removeClass('active');
            $(this).addClass('active');

            $('#sh-citys-0').citys({
                required: false,
                nodata: 'disabled',
                province: pro_name[$(this).text()]

            }, function () {
                pro_code =
                    parseInt($('#sh-citys-0 select[name="province"]').find('option:selected').val());
                city_code = pro_code + 100;
                $('#sh-citys').citys({
                    required: false,
                    nodata: 'disabled',
                    province: pro_code,
                    city: city_code
                }, function () {
                    getCityInfo($('#sh-citys select[name="city"]').find('option:selected').text());
                });
            });
            c_city = $(this).text();
            if (c_city === '沪' || c_city === '渝' || c_city === '津' || c_city
                === '京' || c_city === '港' || c_city === '澳') {
                getCityInfo(pro_name[$(this).text()]);
            }
        });


        $('select[name="city"]').change(function () {
            outDetail();
            getCityInfo($(this).find('option:selected').text());
        });

        $('select[name="area"]').change(function () {
            intoDetail();
        });

        $('.m-left-menuOne li').click(function () {
            event.preventDefault();
            $(this).addClass('active').siblings().removeClass('active');
            intoDetail();
        });

        $('.m-mc-type li').click(function () {
            event.preventDefault();
            $(this).children().addClass('active');
            $(this).siblings().children().removeClass('active');
            intoDetail();
        });

    });

</script>


{%end%}



