{%extends 'base.html'%}
{%block content%}
<div class="main">
    <div class="m-top h-mid-topBg{{cid}}">
        {% module SubCla(cla_name) %}
        <div class="m-menu">
            <ul class="m-classify">
                {%for dx_c in dx_classes%}
                <li>
                    <a>{{dx_c['c_name']}}</a>
                </li>
                {%end%}
            </ul>
        </div>
        <div class="m-hot">
            <span>热门：</span>
            {%for dx_h in dx_hots%}
            <a href="{{dx_h['h_url']}}" target='_blank'>{{dx_h['h_desc']}}</a>
            {%end%}
        </div>
    </div>
    <div class="m-block">
        <div class="dx-banner" id="banner">
            <ul>
                <li>
                    <a href="" target='_blank'>
                        <img src=""/>
                    </a>
                </li>
                <li>
                    <a href="" target='_blank'>
                        <img src=""/>
                    </a>
                </li>
                <li>
                    <a href="" target='_blank'>
                        <img src=""/>
                    </a>
                </li>
            </ul>
            <ol class="banner-focus">
                <li></li>
                <li></li>
                <li></li>
            </ol>
        </div>
    </div>
    <div class="m-block">
        <div id="dx-citys" class="m-option">
            <p>
                <select name="province"></select>
                <select name="city"></select>
                <select name="area"></select>
                <span>共找到 198 条信息</span>

            </p>
        </div>
        <ul class="m-list">
            <li>
                <a href="" target='_blank'>
								<span>
									<img src="img/pic/1.jpg"/>
								</span>
                    <p>粮油/干货/土特产/日杂</p>
                </a>
            </li>
            <li>
                <a href="" target='_blank'>
								<span>
									<img src="img/pic/2.jpg"/>
								</span>
                    <p>粮油/干货/土特产/日杂</p>
                </a>
            </li>
            <li>
                <a href="" target='_blank'>
								<span>
									<img src="img/pic/3.jpg"/>
								</span>
                    <p>粮油/干货/土特产/日杂</p>
                </a>
            </li>
            <li>
                <a href="" target='_blank'>
								<span>
									<img src="img/pic/4.jpg"/>
								</span>
                    <p>粮油/干货/土特产/日杂</p>
                </a>
            </li>
            <li>
                <a href="" target='_blank'>
								<span>
									<img src="img/pic/3.jpg"/>
								</span>
                    <p>粮油/干货/土特产/日杂</p>
                </a>
            </li>
            <li>
                <a href="" target='_blank'>
								<span>
									<img src="img/pic/4.jpg"/>
								</span>
                    <p>粮油/干货/土特产/日杂</p>
                </a>
            </li>
            <li>
                <a href="" target='_blank'>
								<span>
									<img src="img/pic/1.jpg"/>
								</span>
                    <p>粮油/干货/土特产/日杂</p>
                </a>
            </li>
            <li>
                <a href="" target='_blank'>
								<span>
									<img src="img/pic/2.jpg"/>
								</span>
                    <p>粮油/干货/土特产/日杂</p>
                </a>
            </li>
        </ul>
        <div style="text-align: center">
            <ul id="paginator-dx"></ul>
        </div>
    </div>
</div>
{%end%}

{%block script%}
<script src="js/main/jquery.citys.js"></script>
<script src="http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js"></script>
<script src="js/common/bootstrap-paginator.min.js"></script>
<script>
    $("#banner").slide({
        mainCell: "ul",
        titCell: "ol",
        autoPage: true,
        effect: "fold",
        autoPlay: true
    });

    function createPage(area_num, totle) {
        $('#paginator-dx').bootstrapPaginator({
            currentPage: 1,
            totalPages: totle,
            numberOfPages: 6,
            itemTexts: function (type, page) {
                switch (type) {
                    case "first":
                        return "首页";
                    case "prev":
                        return "上一页";
                    case "next":
                        return "下一页";
                    case "last":
                        return "末页";
                    case "page":
                        return page;
                }
            },
            tooltipTitles: function (type, page) {
                switch (type) {
                    case "first":
                        return "首页";
                    case "prev":
                        return "上一页";
                    case "next":
                        return "下一页";
                    case "last":
                        return "末页";
                    case "page":
                        return page;
                }
            },
            onPageClicked: function (event, originalEvent, type, page) {
                getLinks(area_num, page)
            }
        });
    }

    function getLinks(area_num, page) {
        cla_ind = $('.m-classify .active').parent().index();
        $.get('/api/dx/info', {
            cla_ind: cla_ind,
            area_num: area_num,
            page: page || 0
        }, function (data) {
//            console.log(data.links);
            console.log(data.count);
            if (data.totle) {
                $('.m-list a').each(function (i) {
                    $(this).attr('href', data.links[i].l_url).children('p').text(data.links[i].l_desc).prev().children().attr('src', data.links[i].l_img);
                    $('.m-option span').text('共找到' + data.count + '条信息');
                });
                createPage(area_num, data.totle)
            }
            else {
                $('.m-list a').each(function (i) {
                    if (i == 0) {
                        $('.m-block > .m-list a').each(function () {
                            $(this).removeAttr('href').children().eq(1).text('').parent().children().eq(0).children().attr('src', '');
                        });
                    }
                    $(this).attr('href', data.links[i].l_url).children('p').text(data.links[i].l_desc).prev().children().attr('src', data.links[i].l_img);
                });
            }

        });
    }
    function class_click(area_num) {
        $('.m-classify a').click(function () {
            $(this).addClass('active').parent().siblings().children().removeClass('active');
            ind = $(this).parent().index();
            $.get('/api/dx/info', {cla_ind: ind}, function (data) {
//                console.log(data.slider);
                $('.dx-banner a').each(function (i) {
                    $(this).attr('href', data.slider[i].s_url).children().attr('src', data.slider[i].s_img);
                });
            });
            getLinks(area_num);
        });
    }
    href = window.location.href;
    $('.m-classify a:eq(' + href[href.length - 1] + ')').addClass('active');
    if (remote_ip_info) {
        $('#dx-citys').citys({
            required: false,
            nodata: 'disabled',
            province: remote_ip_info['province'],
            city: remote_ip_info['city'],
            area: remote_ip_info['district'],
            onChange: function (info) {
//                console.log(info.code);
                getLinks(info.code);
                class_click(info.code);

            }
        }, function (api) {
            info = api.getInfo();
//            console.log(info.code);
            getLinks(info.code);
            class_click(info.code);
//            $('.m-classify a:eq(0)').click();
            ind = $('.m-classify a:eq(0)').parent().index();
            $.get('/api/dx/info', {cla_ind: ind}, function (data) {
//                console.log(data.slider);
                $('.dx-banner a').each(function (i) {
                    $(this).attr('href', data.slider[i].s_url).children().attr('src', data.slider[i].s_img);
                });
            });
        });
    }
</script>
{%end%}

